.footer {
    background-color: black;

    .footer__wrapper {
        @include flex-center;

        .logo {
            text-decoration: none;
            font-size: 40px;
            font-weight: bold;
            font-family: $font;
            margin: 30px 0;
            color: white;
        }

        .footer__social {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            a {
                text-decoration: none;

                .fab {
                    color: white;
                    background-color: $blue-color;
                    font-size: 30px;
                    width: 50px;
                    height: 50px;
                    @include flex-center;
                    margin: 20px 20px;
                }
            }
        }

        .footer__copyright {
            color: white;
            font-family: $font;
            margin: 25px 0;
        }
    }
}

.back__to__top {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background-color: $blue-color;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    line-height: 45px;
    text-align: center;
    transform: rotate(-90deg);
    font-size: 25px;
    font-weight: bold;
    display: none;
    cursor: pointer;
}

.back__to__top--active {
    display: block;
}