* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Varela Round', 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

p {
    font-size: 16px;
    text-align: center;
}

.tittle__h2 {
    position: relative;
    font-size: 31px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;

    &::after {
        position: absolute;
        content: "";
        width: 80px;
        height: 3px;
        left: 50%;
        bottom: -50%;
        transform: translateX(-50%);
        background-color: $blue-color;
    }
}

.tittle__h3 {
    font-size: 21px;

}

.wrapper {
    height: 100%;
    width: 100%;
    padding: 25px 15px;
}

.header {
    height: calc(100vh - 50px);
    margin-top: 50px;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://github.com/MacRapacki/Landing-Page/blob/master/img/turntable-1337986_1920.jpg");
    background-attachment: fixed;
    background-size: 300%;

    .wrapper {
        height: 100%;
        width: 100%;
        padding: 0 15px;

        .navbar {
            // position: relative;
            position: fixed;
            left: 0;
            top: 0;
            height: 50px;
            width: 100%;
            background-color: white;
            color: black;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 11;

            .navbar__logo {
                width: 100px;
                height: 50px;
                text-align: center;
                line-height: 50px;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 30px;
                color: black;
                margin-left: 10px;
                font-family: $font;
                font-weight: bold;
            }

            .header__burger {
                width: 40px;
                height: 40px;
                margin: 5px 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                .bar {
                    width: 30px;
                    height: 4px;
                    background-color: black;
                    margin: 3px;
                    transition: 0.2s linear;
                }

                .bar--active.bar__top {
                    transform: translateY(10px) rotate(45deg);
                }

                .bar--active.bar__middle {
                    opacity: 0;
                }

                .bar--active.bar__bottom {
                    transform: translateY(-10px) rotate(-45deg);
                }


            }

            .navbar__list {
                position: absolute;
                right: 0;
                top: 0;
                width: 60%;
                height: calc(100vh - 50px);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin-top: 50px;
                color: white;
                list-style: none;
                background-color: black;
                transform: translateX(100%);
                transition: all 0.3s ease-in;

                &--active {
                    transform: translateX(0%);
                }

                .navbar__item {
                    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
                    width: 100%;
                    height: 100%;


                    .navbar__link {
                        height: 100%;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        text-decoration: none;
                        color: white;
                        opacity: 0;
                        transition: all 0.4s ease-in 0.4s;

                        &--active {
                            opacity: 1;
                        }
                    }
                }
            }
        }



        .header__wrapper {
            padding-top: 50px;
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;

            .header__title {
                color: white;
                text-align: center;
                font-size: 36px;
                margin-bottom: 40px;
                text-transform: uppercase;
            }

            .header__text {
                color: white;
                text-align: center;
                font-size: 16px;
                margin-bottom: 40px;
            }

            .header__buttons {
                width: 100%;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;

                .header__btn {
                    width: 120px;
                    height: 42px;
                    font-size: 14px;
                    margin: 0 20px;
                    border: none;
                    border-radius: 5px;

                    &.header__btn--blue {
                        background-color: royalblue;
                        color: white;
                    }
                }
            }
        }
    }
}