.portfolio {
    background-color: $section-bgc;

    .portfolio__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .portfolio__tittle {
            width: 100%;
        }

        .wrapper__portfolio__overlay {
            position: relative;
            margin: 40px 20px;
            border: 1px solid rgb(204, 204, 204);
            width: 330px;
            height: 330px;
            overflow: hidden;

            @include breakpoint (large) {
                margin: 50px 50px;
            }

            .portfolio__img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .overlay__box {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include flex-center;
                background: rgba(55, 55, 55, 0.904);
                opacity: 0;
                transition: 0.3s linear;

                &:hover {
                    opacity: 1;
                    color: white;
                }

                .span__portfolio {
                    color: $blue-color;
                    margin-bottom: 15px;
                    text-transform: uppercase;
                }

                .tittle__h3 {
                    margin-bottom: 15px;
                }

                .portfolio__link {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    a {
                        display: block;
                        width: 50px;
                        height: 50px;
                        background-color: $blue-color;
                        margin: 0 10px;
                        text-decoration: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        i {
                            color: white;
                            font-size: 18px;

                        }
                    }
                }
            }
        }
    }
}