.services {
    .services__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include breakpoint(small) {
            flex-direction: row;
            flex-wrap: wrap;
        }

        .tittle__h2 {
            padding-top: 15px;
            width: 100%;
        }

        .services__box {
            max-width: 360px;
            margin: 40px 0;
            padding: 15px 0;
            border: 1px solid rgb(204, 204, 204);

            @include breakpoint(small) {
                margin: 40px 10px;
            }

            .tittle__h3 {
                margin: 15px 0;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                i {
                    margin-right: 20px;
                    color: $blue-color;
                    font-size: 35px;
                }
            }
        }

        .services__why {
            background-color: $section-bgc;
            padding: 0 15px;

            .why__text {
                margin: 50px 0
            }

            .why_check {
                text-align: start;
                margin: 15px 0;

                @include breakpoint(small) {
                    margin-left: 24vw;
                }

                .fas {
                    color: $blue-color;
                    font-size: 20px;
                    margin-right: 8px;
                }
            }
        }

        .services__numbers {
            background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/japan-217878_1920.jpg);
            background-attachment: fixed;
            background-size: 390%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;

            @include breakpoint(small) {
                flex-direction: row;
                flex-wrap: wrap;
                padding: 80px 0;
            }

            .services__number {
                color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 25px;

                .fas {
                    font-size: 55px;
                    color: $blue-color;
                }

                .counter {
                    font-size: 36px;
                    margin: 15px 0;
                    font-family: $font;
                    font-weight: bold;
                }

                .text {
                    font-size: 16px;
                }
            }

        }
    }
}