.prices {

    .prices__wrapper {
        @include flex-center;

        @include breakpoint(small) {
            flex-direction: row;
            flex-wrap: wrap;
        }



        .prices__box {
            border: 1px solid rgb(204, 204, 204);
            margin: 40px 15px;
            @include flex-center;
            transition: 0.2s linear;
            width: 80%;

            @include breakpoint(small) {
                max-width: 250px;
            }

            @include breakpoint(medium) {
                margin: 40px 30px;
            }

            @include breakpoint(large) {
                margin: 40px 50px;
            }

            &:hover {
                background-color: black;
                color: white;
            }


            .prices__box__plan {
                text-transform: uppercase;
                opacity: 0.8;
                margin: 20px 0;
            }

            .prices__box__price {
                width: 100px;
                height: 100px;
                border: 2px solid $blue-color;
                border-radius: 50%;
                @include flex-center;
                text-align: center;
                font-weight: bold;

                span {

                    font-size: 42px;
                    font-family: $font;
                }
            }

            .prices__box__get {
                @include flex-center;

                p {
                    margin: 15px 0;
                    opacity: 0.6;
                }
            }

            .prices__box__btn {
                margin: 30px;
                width: 140px;
                height: 50px;
                background-color: transparent;
                color: $blue-color;
                border: 2px solid $blue-color;
                border-radius: 5px;
                font-size: 16px;
            }
        }
    }
}