* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Varela Round', 'Montserrat', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
}

.tittle__h2 {
  position: relative;
  font-size: 31px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.tittle__h2::after {
  position: absolute;
  content: "";
  width: 80px;
  height: 3px;
  left: 50%;
  bottom: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #6195FF;
}

.tittle__h3 {
  font-size: 21px;
}

.wrapper {
  height: 100%;
  width: 100%;
  padding: 25px 15px;
}

.header {
  height: calc(100vh - 50px);
  margin-top: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img/turntable-1337986_1920.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/turntable-1337986_1920.jpg);
  background-attachment: fixed;
  background-size: 300%;
}

.header .wrapper {
  height: 100%;
  width: 100%;
  padding: 0 15px;
}

.header .wrapper .navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
}

.header .wrapper .navbar .navbar__logo {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  color: black;
  margin-left: 10px;
}

.header .wrapper .navbar .header__burger {
  width: 40px;
  height: 40px;
  margin: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.header .wrapper .navbar .header__burger .bar {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 3px;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.header .wrapper .navbar .header__burger .bar--active.bar__top {
  -webkit-transform: translateY(10px) rotate(45deg);
          transform: translateY(10px) rotate(45deg);
}

.header .wrapper .navbar .header__burger .bar--active.bar__middle {
  opacity: 0;
}

.header .wrapper .navbar .header__burger .bar--active.bar__bottom {
  -webkit-transform: translateY(-10px) rotate(-45deg);
          transform: translateY(-10px) rotate(-45deg);
}

.header .wrapper .navbar .navbar__list {
  position: absolute;
  right: 0;
  top: 0;
  width: 60%;
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
  color: white;
  list-style: none;
  background-color: black;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.header .wrapper .navbar .navbar__list--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header .wrapper .navbar .navbar__list .navbar__item {
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  width: 100%;
  height: 100%;
}

.header .wrapper .navbar .navbar__list .navbar__item .navbar__link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in 0.4s;
  transition: all 0.4s ease-in 0.4s;
}

.header .wrapper .navbar .navbar__list .navbar__item .navbar__link--active {
  opacity: 1;
}

.header .wrapper .header__wrapper {
  padding-top: 50px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .wrapper .header__wrapper .header__title {
  color: white;
  text-align: center;
  font-size: 36px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.header .wrapper .header__wrapper .header__text {
  color: white;
  text-align: center;
  font-size: 16px;
  margin-bottom: 40px;
}

.header .wrapper .header__wrapper .header__buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.header .wrapper .header__wrapper .header__buttons .header__btn {
  width: 120px;
  height: 42px;
  font-size: 14px;
  margin: 0 20px;
  border: none;
  border-radius: 5px;
}

.header .wrapper .header__wrapper .header__buttons .header__btn.header__btn--blue {
  background-color: royalblue;
  color: white;
}

.about {
  width: 100%;
}

.about .aobut__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 15px;
  font-size: 32px;
}

.about .aobut__wrapper .about__box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  border: 1px solid #cccccc;
}

.about .aobut__wrapper .about__box .fas {
  color: #6195FF;
  margin: 30px 0;
}

.about .aobut__wrapper .about__box .tittle__h3 {
  margin-bottom: 30px;
}

.about .aobut__wrapper .about__box p {
  margin-bottom: 30px;
}

.about .aobut__wrapper .about__box .about__box__link {
  color: #6195FF;
  text-decoration: none;
  font-size: 16px;
  margin: 30px 0;
}

.portfolio {
  background-color: #f1f1f1;
}

.portfolio .portfolio__wrapper .wrapper__portfolio__overlay {
  position: relative;
  margin: 50px auto;
  border: 1px solid #cccccc;
  width: 330px;
  height: 330px;
  overflow: hidden;
}

.portfolio .portfolio__wrapper .wrapper__portfolio__overlay .portfolio__img {
  width: 100%;
  height: 100%;
}

.portfolio .portfolio__wrapper .wrapper__portfolio__overlay .overlay__box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(55, 55, 55, 0.904);
  opacity: 0;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.portfolio .portfolio__wrapper .wrapper__portfolio__overlay .overlay__box:hover {
  opacity: 1;
}

.portfolio .portfolio__wrapper .wrapper__portfolio__overlay .overlay__box .span__portfolio {
  color: #6195FF;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.portfolio .portfolio__wrapper .wrapper__portfolio__overlay .overlay__box .tittle__h3 {
  margin-bottom: 15px;
}

.portfolio .portfolio__wrapper .wrapper__portfolio__overlay .overlay__box .portfolio__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio__wrapper .wrapper__portfolio__overlay .overlay__box .portfolio__link a {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #6195FF;
  margin: 0 10px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .portfolio__wrapper .wrapper__portfolio__overlay .overlay__box .portfolio__link a i {
  color: white;
  font-size: 18px;
}

.services .services__wrapper .services__box {
  margin: 40px 0;
  padding: 20px 0;
  border: 1px solid #cccccc;
}

.services .services__wrapper .services__box .tittle__h3 {
  margin: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services .services__wrapper .services__box .tittle__h3 i {
  margin-right: 20px;
  color: #6195FF;
  font-size: 35px;
}
/*# sourceMappingURL=style.css.map */